@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
/*rgb(238, 102, 108)*/
/***********
mixin
***********/
.container {
  width: 80%;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/header3.jpg);
  height: 40vh;
}

nav .nav-link {
  color: #fff;
  margin-left: 20px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
nav .nav-link:hover {
  color: #ee666c;
}

/***zaglavlje***/
#zaglavlje {
  background: #25235b;
  height: 35vh;
  position: relative;
  top: -100px;
}
#zaglavlje .row {
  position: relative;
  top: -100px;
}
#zaglavlje .row h1 {
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0px 0px 15px #ee666c;
}
#zaglavlje .row p {
  padding: 10px 0 20px 0;
}
#zaglavlje .row .element {
  text-transform: uppercase;
  color: #ee666c;
  font-weight: 600;
  font-size: 1.7rem;
  padding-bottom: 20px;
}

/***about***/
#program {
  margin: -70px;
}
#program .prvi article, #program .treci article, #program .drugi article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 35px;
  margin: 0px 15px 30px 0px;
}
#program .prvi article h3, #program .treci article h3, #program .drugi article h3 {
  text-transform: uppercase;
  font-weight: 600;
}
#program .prvi article p, #program .treci article p, #program .drugi article p {
  padding: 10px 0;
}
#program .prvi article:nth-child(1), #program .treci article:nth-child(1), #program .drugi article:nth-child(1) {
  background: #ee666c;
}
#program .prvi article:nth-child(1) p, #program .treci article:nth-child(1) p, #program .drugi article:nth-child(1) p,
#program .prvi article:nth-child(1) h3,
#program .treci article:nth-child(1) h3,
#program .drugi article:nth-child(1) h3 {
  color: #fff;
}
#program .prvi article:nth-child(2), #program .treci article:nth-child(2), #program .drugi article:nth-child(2) {
  background: #f3f3f2;
}
#program .prvi article:nth-child(2) p, #program .treci article:nth-child(2) p, #program .drugi article:nth-child(2) p,
#program .prvi article:nth-child(2) h3,
#program .treci article:nth-child(2) h3,
#program .drugi article:nth-child(2) h3 {
  color: #25235b;
}
#program .drugi {
  top: 60px;
}
#program .drugi article:nth-child(1) {
  background: #25235b;
}
#program .drugi article:nth-child(2) {
  background: #ee666c;
}
#program .drugi article:nth-child(2) p,
#program .drugi article:nth-child(2) h3 {
  color: #fff;
}
#program .treci {
  top: 120px;
}
#program .treci article:nth-child(1) {
  background: #f3f3f2;
}
#program .treci article:nth-child(1) p,
#program .treci article:nth-child(1) h3 {
  color: #25235b;
}
#program .treci article:nth-child(2) {
  background: #25235b;
}
#program .treci article:nth-child(2) p,
#program .treci article:nth-child(2) h3 {
  color: #fff;
}

#about {
  background: url(img/bg3.jpg);
  margin-top: 200px;
}
#about img {
  padding: 20px 0;
}
#about .owl-carousel {
  background: #ee666c;
  margin-top: 40px;
}
#about .owl-carousel .owl-next,
#about .owl-carousel .owl-prev {
  position: absolute;
  top: 40%;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}
#about .owl-carousel .owl-next {
  right: 15px;
}
#about .owl-carousel .owl-prev {
  left: 15px;
}
#about .owl-carousel .item {
  color: #fff;
  padding: 50px;
  text-align: center;
}
#about .owl-carousel .owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 3px;
  border-radius: 0px;
}
#about .owl-carousel .owl-dots {
  text-align: center;
  padding-bottom: 20px;
}
#about .owl-carousel .owl-dots button.owl-dot {
  width: 20px;
  height: 2px;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
#about .owl-carousel .owl-dots button.owl-dot.active {
  background-color: #fff;
}
#about .owl-carousel .owl-dots button.owl-dot:focus {
  outline: none;
}/*# sourceMappingURL=style.css.map */