@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
/*rgb(238, 102, 108)*/
/***********
mixin
***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.2;
}

ul {
  list-style: none;
}

hr {
  width: 15%;
  background: #ee666c;
  border: none;
  height: 1px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  border: none;
  background: #ee666c;
  text-transform: uppercase;
  transition: 0.5s ease;
}
button:hover {
  color: #f3f3f2;
  background: #25235b;
}

.navbar-toggler {
  background-color: #50504f;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/header3.jpg);
  height: 50vh;
  /***naslov***/
}
header nav .nav-link {
  background: transparent;
  color: #fff;
  margin-left: 20px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
header nav .nav-link:hover {
  color: #ee666c;
}
header nav #navbarNav {
  background: transparent;
  text-align: right;
  margin: auto;
}
header nav #navbarNav li a {
  color: #fff;
}
header nav #navbarNav li a:hover {
  color: #ee666c;
}
header .naslov {
  padding-top: 60px;
}
header .naslov h1 {
  background: #ee666c;
  opacity: 0.8;
  padding: 10px 20px;
  display: inline;
}

/***zaglavlje***/
#zaglavlje {
  background: #25235b;
  height: 40vh;
  width: 50%;
  position: relative;
  top: -50px;
}
#zaglavlje .row {
  position: relative;
  top: -100px;
}
#zaglavlje .row h1 {
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0px 0px 15px #ee666c;
}
#zaglavlje .row p {
  padding: 10px 0 20px 0;
}
#zaglavlje .row .element {
  text-transform: uppercase;
  color: #ee666c;
  font-weight: 600;
  font-size: 1.7rem;
  padding-bottom: 20px;
}

/***about***/
#program {
  padding-top: 0px;
}
#program .prvi article, #program .treci article, #program .drugi article {
  padding: 35px;
  margin: 0px 15px 30px 0px;
}
#program .prvi article h3, #program .treci article h3, #program .drugi article h3 {
  text-transform: uppercase;
  font-weight: 600;
}
#program .prvi article p, #program .treci article p, #program .drugi article p {
  padding: 10px 0;
}
#program .prvi article:nth-child(1), #program .treci article:nth-child(1), #program .drugi article:nth-child(1) {
  background: #ee666c;
}
#program .prvi article:nth-child(1) p, #program .treci article:nth-child(1) p, #program .drugi article:nth-child(1) p,
#program .prvi article:nth-child(1) h3,
#program .treci article:nth-child(1) h3,
#program .drugi article:nth-child(1) h3 {
  color: #fff;
}
#program .prvi article:nth-child(2), #program .treci article:nth-child(2), #program .drugi article:nth-child(2) {
  background: #f3f3f2;
}
#program .prvi article:nth-child(2) p, #program .treci article:nth-child(2) p, #program .drugi article:nth-child(2) p,
#program .prvi article:nth-child(2) h3,
#program .treci article:nth-child(2) h3,
#program .drugi article:nth-child(2) h3 {
  color: #25235b;
}
#program .drugi {
  top: 60px;
}
#program .drugi article:nth-child(1) {
  background: #25235b;
}
#program .drugi article:nth-child(2) {
  background: #ee666c;
}
#program .drugi article:nth-child(2) p,
#program .drugi article:nth-child(2) h3 {
  color: #fff;
}
#program .treci {
  top: 120px;
}
#program .treci article:nth-child(1) {
  background: #f3f3f2;
}
#program .treci article:nth-child(1) p,
#program .treci article:nth-child(1) h3 {
  color: #25235b;
}
#program .treci article:nth-child(2) {
  background: #25235b;
}
#program .treci article:nth-child(2) p,
#program .treci article:nth-child(2) h3 {
  color: #fff;
}

@media (max-width: 768px) {
  header {
    height: 50vh;
  }

  #zaglavlje {
    height: 20vh;
    top: -100px;
    width: 60%;
  }
  #zaglavlje .row {
    top: -90px;
  }
  #zaglavlje .row h1 {
    font-size: 2rem;
  }
  #zaglavlje .row p {
    padding: 10px 0 10px 0;
    font-size: 0.8rem;
  }
  #zaglavlje .row .element {
    font-size: 1.1rem;
  }

  #about .row:nth-child(2) h2 {
    padding-right: 70px;
    transform: none !important;
    font-size: 3rem !important;
    font-weight: 700;
    letter-spacing: 1rem;
  }
}
#about {
  background: url(img/bg3.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 150px;
}
#about img {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 20px;
}
#about .row:nth-child(1) .owl-carousel {
  background: #ee666c;
  margin-top: 40px;
}
#about .row:nth-child(1) .owl-carousel .owl-next,
#about .row:nth-child(1) .owl-carousel .owl-prev {
  position: absolute;
  top: 40%;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}
#about .row:nth-child(1) .owl-carousel .owl-next {
  right: 15px;
}
#about .row:nth-child(1) .owl-carousel .owl-prev {
  left: 15px;
}
#about .row:nth-child(1) .owl-carousel .item {
  color: #fff;
  padding: 60px;
  text-align: center;
}
#about .row:nth-child(1) .owl-carousel .owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 3px;
  border-radius: 0px;
}
#about .row:nth-child(1) .owl-carousel .owl-dots {
  text-align: center;
  padding-bottom: 20px;
}
#about .row:nth-child(1) .owl-carousel .owl-dots button.owl-dot {
  width: 20px;
  height: 2px;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
#about .row:nth-child(1) .owl-carousel .owl-dots button.owl-dot.active {
  background-color: #fff;
}
#about .row:nth-child(1) .owl-carousel .owl-dots button.owl-dot:focus {
  outline: none;
}
#about .row:nth-child(2) {
  padding-top: 40px;
}
#about .row:nth-child(2) h2 {
  padding-right: 70px;
  transform: rotate(-90deg);
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 1rem;
  text-align: center;
}

/***footer***/
footer {
  background: url(img/footer.jpg);
  background-size: cover;
  background-position: center;
}
footer li,
footer i {
  font-size: 0.9rem;
}
footer ul {
  padding: 10px 0 0 0;
  line-height: 2rem;
}
footer .prva {
  padding-left: 50px;
}
footer .druga {
  padding-left: 50px;
}
footer .col-md-5 {
  padding-left: 150px;
}
footer .col-md-5 i {
  font-size: 2rem;
  margin-left: 10px;
  padding-top: 10px;
}

/***blog***/
.blog,
.education {
  padding: 40px;
}
.blog .card,
.education .card {
  border: none;
}
.blog .card h5,
.education .card h5 {
  color: #25235b;
  font-weight: 500;
}

/***services***/
.services .col-md-5 {
  margin: auto 0;
}
.services .col-md-5 div:nth-child(1) {
  flex: 0 0 50%;
}
.services .col-md-5 div:nth-child(1) h1 {
  transform: rotate(-90deg);
  font-size: 6rem;
}
.services .col-md-5 div:nth-child(2) {
  flex: 0 0 50%;
  padding: 100px 10px;
}
.services .col-md-7 {
  padding: 50px 0;
}
.services .col-md-7 article h4 {
  text-transform: uppercase;
  padding: 20px 0;
}
.services .col-md-7 article hr {
  width: 100%;
}/*# sourceMappingURL=style.css.map */