@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

$primaryColor: #25235b;
$secondaryColor: #ee666c;
/*rgb(238, 102, 108)*/
$tertiaryColor: #69c5d7;
$black: #212529;
$lightGray: #f3f3f2;
$white: #fff;
$fontSize: 16px;
$fontFamily: 'Poppins',
sans-serif;
$transition: .5s ease;
$boxShadow: 0 0 20px gray;

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    letter-spacing: 1px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(img/header3.jpg);
    height: 70vh;

}

nav .nav-link {
    color: $white;
    margin-left: 20px;
    text-transform: uppercase;
    transition: $transition;

    &:hover {
        color: $secondaryColor;
    }

}