@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

$primaryColor: #25235b;
$secondaryColor: #ee666c;
/*rgb(238, 102, 108)*/
$tertiaryColor: #69c5d7;
$black: #212529;
$lightGray: #f3f3f2;
$white: #fff;
$fontSize: 16px;
$fontFamily: 'Poppins',
sans-serif;
$transition: .5s ease;
$boxShadow: 0 0 20px gray;

/***********
mixin
***********/
@mixin flex($justify, $align, $direction, $wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

.container {
    width: 80%;
    margin: 0 auto;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(img/header3.jpg);
    height: 40vh;

}

nav {
    .nav-link {
        color: $white;
        margin-left: 20px;
        text-transform: uppercase;
        transition: $transition;

        &:hover {
            color: $secondaryColor;
        }
    }
}

/***zaglavlje***/
#zaglavlje {
    background: $primaryColor;
    height: 35vh;
    position: relative;
    top: -100px;

    .row {
        position: relative;
        top: -100px;

        h1 {
            font-size: 5rem;
            font-weight: 800;
            text-transform: uppercase;
            text-shadow: 0px 0px 15px $secondaryColor;
        }

        p {
            padding: 10px 0 20px 0;
        }


        .element {
            text-transform: uppercase;
            color: $secondaryColor;
            font-weight: 600;
            font-size: 1.7rem;
            padding-bottom: 20px;

        }
    }
}

/***about***/
#about {
    margin: -70px;

    .prvi {

        article {
            @include flex(flex-start, center, row, wrap);
            padding: 35px;
            margin: 0px 15px 30px 0px;

            h3 {
                text-transform: uppercase;
                font-weight: 600;
            }

            p {
                padding: 10px 0;
            }
        }

        article:nth-child(1) {
            background: $secondaryColor;

            p,
            h3 {
                color: $white;
            }
        }

        article:nth-child(2) {
            background: $lightGray;

            p,
            h3 {
                color: $primaryColor;
            }
        }
    }

    .drugi {
        @extend .prvi;
        top: 60px;

        article:nth-child(1) {
            background: $primaryColor;
        }

        article:nth-child(2) {
            background: $secondaryColor;

            p,
            h3 {
                color: $white;
            }
        }
    }

    .treci {
        @extend .prvi;
        top: 120px;

        article:nth-child(1) {
            background: $lightGray;

            p,
            h3 {
                color: $primaryColor;
            }
        }

        article:nth-child(2) {
            background: $primaryColor;

            p,
            h3 {
                color: $white;
            }
        }
    }
}